<h1>Jobs List</h1>

 <% if can? [:update, :destroy], @job %>
  <%= link_to 'New Job', new_job_path, class: 'btn btn-primary' %>
<% end %>

<% @jobs.each do |job| %>

  <div class="card">
    <div class="card-body">
      <h5><%= job.title %></h5>

      <p><%= job.description %></p>
      <span class="badge badge-success">
        <%= job.status %>
      </span>
      <div>
        <%= link_to 'Show', job_path(job) , class: 'btn btn-sm btn-primary' %>
        

 <% if can? [:update, :destroy], job %>
          <%= link_to 'Edit', edit_job_path(job) ,class: 'btn btn-sm btn-warning' %>
          <%= link_to 'Delete', job_path(job), method: :delete, data: { confirm: 'Are you sure?' } ,class: 'btn btn-sm btn-danger'  %>
          <%= link_to 'Resumes', job_resumes_path(job),class: 'btn btn-sm btn-info'  %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>