

<table class="table">
  <thead>
    <tr>
      <th>Job</th>
      <th>Email:</th>
      <th>Applied At</th>
      <th>Action</th>
    </tr>
  </thead>
 
  <tbody>

    <% @resumes.each do |resume| %>
        <tr>
          <% if resume.job %>
            <td><%= link_to resume.job.title, job_path(resume.job) %></td>
          <% end %>
          <td><%= resume.user.email %></td>
          <td><%= time_ago_in_words resume.created_at %></td>
          <td>
            <%= link_to 'Show', [resume.job, resume] , class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Download', resume.attachment_url, download: '', target: :_blank %>
          </td>
        </tr>
    <% end %>
  </tbody>

</table>
